@import "estilosPaginas/home";
@import "estilosPaginas/disciplinas";
@import "estilosPaginas/staff.scss";
@import "estilosPaginas/membresias";
@import "estilosPaginas/contacto";
@import "estilosPaginas/estilosVar";

/* Reseteo de estilos */
* {
    margin: 0;
    padding: 0;
}

/*Tipografia*/
@font-face {
    font-family: 'fuente1';
    src: url(../fuentes/AmericanCaptain.otf);
}
@font-face {
    font-family: 'fuente2';
    src: url(../fuentes/Gotham-Light.otf);
}
@font-face {
    font-family: 'fuente3';
    src: url(../fuentes/649-font.otf);
}

/*Navbar*/
header {
    background: $color_fondoNav;
    position: sticky; top: 0;
    width: 100%;
    z-index: 200;
    .icon-menu {
        color:$color_parrafos;
    }
    .barramenu_links {
        .submenu {
            background: $color_fondoNav;  
            a {
                font-size: 18px;
                &:hover {
                    color: $color_principal;
                }
            } 
        } 
        li {
            &:hover .submenu {
                display: block;
            }
        }
        a {
            text-decoration: none;
            @include barramenu;
            &:hover {
                color: $color_parrafos;
            }
        }  
    }

    
    .ctm {
        display: flex;
        
        
        .user_registro_icon {
            
            display: none;
            span {
                color: $color_principal;
                padding-right: 6px;
                
            }
            
        }
    
        .user_registro_icon-registrado {
            display: block;
            
           
        }

        .user_registro {
            h2 {
                color: $color_principal;
                font-family: 'fuente2';
                
                font-size: 18px;
                font-weight: bold;
            }
        }

    }
   

    .boton_registro {
        @include boton;
        padding: 5px;
        display: block;
    }

    .boton_registro-registrado {
        @include boton;
        padding: 5px;
        display: none;
    }

    
    
        
    

}

/*footer*/
.pieDePagina {
    padding-top: 3%;
    padding-bottom: 3%;
    background-image: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)), url(../imagenes/fondofot.jpg);
    background-size: cover;
    background-position: center;
    h4 {
        @include encabezadoH4;
        color: #efefef;
        font-weight: bold;
    }
    h5 {
        font-size: 14px;
        color: #efefef;
        font-family:'fuente2';
        font-weight: bold;
        padding-top: 10px;  
    }
    h6 {
        font-size: 12px;
        font-family:'fuente2';
        font-weight: bold;
        color:#efefef;
        text-align: center;
    }

    .pieDePagina__redes {
        text-align: center;
        .pieDePagina__redes_logos {
            a {
            text-decoration: none;
            color: white;
            padding: 2%;
            font-size: 25px;
            }
        }
    }
    .pieDePagina__enlaces {
        display: flex;
        flex-direction: column;
        .pieDePagina__enlaces_contenedor {
            display: flex;
            flex-direction: row;
            justify-content: space-between; 
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    padding-top: 10px;
                    a {
                        color: #efefef;
                        text-decoration: none;   
                        font-size: 14px;
                        font-family:'fuente2';
                        font-weight: bold;
                    }
                }
            }
        }
    }
    .pieDePagina__horarios {
        display: flex;
        flex-direction: column;
        .pieDePagina__horarios_contenedor {
            display: flex;
            flex-direction: row;
            justify-content: space-between;  
        }
    }
    .pieDePagina__copyright {
        margin-top: 40px;    
    }
}

/*media query*/
@media (max-width: 768px) {
    .pieDePagina {
        .pieDePagina__redes {
            margin-bottom: 5%;
        }
        .pieDePagina__infoContact {
            margin-bottom: 7%; 
        }
        .pieDePagina__enlaces {
            margin-bottom: 5%;     
        }
    } 
}






























 

    