@import "estilosPaginas/estilosVar";

body {
    background: $color_fondoBody;
}

.contacto {
    background: $color_fondoArticle;
    padding-bottom: 5%;
    .contacto__imagen {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .contacto__info {
        width: 100%;
        display: flex;
        .contacto__info_datos {
            width: 40%;
            display: flex;
            flex-direction: column;
            h3 {
                @include encabezadoh3;
            }
            p {
                @include parrafo;
                span {
                    color: $color_principal;
                    padding-right: 1%;
                }
            }
            a {
                img{
                    width: 80%;
                    margin-top: 1%;
                    margin-bottom: 3%;    
                }
            }
        }

        .contacto__info_form {
            width: 40%;
            h4 {
                @include encabezadoH4;
            }
            form {
                fieldset {
                    legend{
                        @include encabezadoH4;
                        font-family: 'fuente2';
                    }
                    .fieldset__datos {
                        label {
                            @include parrafo;
                            font-weight: bold;
                            margin-bottom: 2%;                          
                        }
                        input {
                            margin-bottom: 3%
                        }
                        textarea {
                            margin-bottom: 2%;
                        }
                    
                    }
                    .fieldset__boton {
                        display: flex;
                        justify-content: space-around;
                        width: 68%;
                        .btnForm {
                            @include boton;
                            color: $color_fondoCards;
                            width: 40%;
                            border-radius: 4px;
                            &:hover {
                                box-shadow: $color_principal 0px 3px 0px ;
                                padding-top: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}


/*media query*/
@media (max-width: 768px) {
    .contacto {
        .contacto__imagen {
            padding-top: 30px;
            padding-bottom: 20px;
        }
        .contacto__info {
            flex-direction: column;
            margin: auto;
            .contacto__info_datos {
                width: 100%;
                h3 {
                    font-size: 18px;
                    margin-bottom: 16px;
                }
                p {
                    font-size: 12px;
                }
                a {
                    img{
                        width: 100%;
                        margin-bottom: 16px;
                    }
                }
            }
            .contacto__info_form {
                width: 100%;
                margin: auto;
                h4 {
                    font-size: 16px;  
                }
                form {
                    fieldset {
                        legend{
                            font-size: 16px;
                        }
                        .fieldset__datos {
                            textarea {
                                width: 100%
                            }
                        }
                        .fieldset__boton {
                            width: 100%;
                            .btnForm {
                                width: 44%;
                            }
                        }
                    }
                }
            }
        }   
    }
}
