@import "estilosPaginas/estilosVar";

body {
    background: $color_fondoBody;
}

/*rerseña*/
.reseña {
    background: $color_fondoArticle;
    padding-top: 2%;
    padding-bottom: 2%;
    .reseña__info h1 {
        /*@if ($color_encabezado == rojo) {
            color: $color_principal;
        } @else if ($color_encabezado == negro) {
            color: $color_fondoNav;
        } @else if ($color_encabezado == gris) {
            color: $color_fondoCards;
        } @else {
            color: blue;
        }*/
        text-align: center;
        @include encabezadoh1;
    }
    .reseña__info p {
        @include parrafo;
        text-align: center;
        font-weight: bold;
        
    }
}



/*entrenamiento*/
.entrenamiento {
    margin-bottom: 3%;
    h2 {
        @include encabezadoh2;
        margin-top: 2%;
        margin-bottom: 2%;
        text-align: center;
        
    }
    img {
        width: 35%;
    }
}
.entrenamiento__info {
    width: 20%;
    .card {
        height: 100%;
        background: $color_fondoCards;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
        
        img {
            width: 100%;
            padding: 5%;
        } 
        h3 {
            @include encabezadoh3;
            text-align: center;
        }
        p {
            @include parrafo;
            color: black;
            padding: 3%;
        }
        
    }
}


/*promociones*/
.promociones {
    background:  $color_fondoArticle;
    padding-bottom: 30px;
    .promociones__titulo {
        height: 40px;
        line-height: 40px; 
        overflow: hidden;
        margin: auto;
        ul  {
            @include encabezadoh3;
            text-align: center;
            list-style: none;
            animation: cambiar 7s infinite;
           
        }
    }
}

.efecto {
    color: #efefef;
}

.promociones__info {
    width: 25%;
    display: grid;
    grid-template: {
        columns: 50% 50%;
        rows: 10% 80% 10%;
    }
    grid-template-areas:  
    "titulo descuento"
    " img img" 
    " boton boton";
    margin-top: 3%;
    border: 1px solid #efefef;
    border-radius: 8px;
    padding: 10px;
    margin-right: 1%;
    margin-left: 1%;
    margin-bottom: 5%;
    h3 {
        @include encabezadoh3;
        justify-self: start;
        align-self: center; 
    }
    h4 {
        font-family: 'fuente2';
        color: #efefef;
        font-size: 20px;
        justify-self: end;
        align-self: center;
        .icon-fire {
            color: red;
        }
    }
    img  {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        justify-self: end;
        align-self: center;
    }
    button {
        @include boton;
        width: 50%;
        height: 70%;
        align-self: end; 
        justify-self: end;
        border-radius: 4px;
    }
}

.info_titulo {
    grid-area: titulo;
}

.info_imagen {
    grid-area: img;   
}

.info_desc {
    grid-area: descuento;
}

.info_boton {
    grid-area: boton;
}

@keyframes cambiar {
    0%{margin-top: 0;}
    20%{margin-top: 0;} 
    60%{margin-top: -40px;}
    80%{margin-top: -40px;}
    100%{margin-top: 0;}
}
    
/*media query*/
@media screen and (max-width: 576px) {
    /*rerseña*/
    .reseña {
        padding-top: 6%;
        padding-bottom: 2%;
        /*operacion resta scss*/
        .reseña__info h1 { 
            font-size: 30px - 12;
        }
        .reseña__info p {
            font-size: 16px -  4;
        }
    }

    /*entrenamiento*/
    .entrenamiento {
        img {
            width: 60%;
        }
    }

    .entrenamiento h2 {
        font-size: 16px;
    }

    .entrenamiento__info {
        width: 45%;
        padding: 1%; 
        .card {
                width: 100%;
            h3 {
                font-size: 16px;
            }
            p {
            font-size: 10px;
            }    
        }   
    }

    /*promociones*/

    .promociones__titulo {
       width: 100%;
       ul {
            padding-left: 0;
            li {
                font-size: 16px;
            }
       }
    }

    .promociones__info {
        width: 80%;
        h3 {
            font-size: 14px;
        }
        h4 {
            font-size: 12px;
        }
    }
}



