@import "estilosPaginas/estilosVar";

body {
    background: $color_fondoBody;
}
.membresia {
    background: $color_fondoArticle;
    padding-bottom: 50px;
    .membresia__imagen {
        padding-top: 30px;
        padding-bottom: 20px;
    }
    .membresia__titulo {
        margin: auto;
        text-align: center;
        h2 {
            @include encabezadoh2;
            margin-top: 2%;
            margin-bottom: 2%;
        }   
    }
    .membresia__info {
        width: 100%;
        ul {
            width: 80%;
            margin: auto;
            margin-bottom: 3%;
            li {
                font-size: 20px;
                color: $color_fondoCards;
                margin-bottom: 2%;
                font-family: 'fuente2';
                text-align: justify;
            }
        }
    }
    .membresia__disciplina {
        width: 40%;
        padding: 1%;
        margin-bottom: 2%;
        margin-left: 1%;
        margin-right: 1%;
        border: 1px solid #efefef;
        border-radius: 8px;
        img {
            width: 100%;
        }
        figure {
            background: $color_fondoCards;
            img {
                width: 100%;
            }
            figcaption {
                background: $color_fondoCards;
                h3 {
                    @include encabezadoh3;
                }
                p {
                    @include parrafo;
                    color: black;
                }
                h4 {
                    @include encabezadoH4;
                }
                ul {
                    li {
                        @include parrafo;
                        font-size: 14px;
                        color: black;
                    }
                } 
            }   
        }
    }
    .membresia__promociones {
        margin: auto;
        text-align: center;
        h2 {
            @include encabezadoh2;
            margin-top: 2%;
            margin-bottom: 2%;
        }
    }
    .membresia__promociones_info {
            width: 100%;
            h4 {
                width: 80%;
                margin: auto;
                font-size: 20px;
                font-family: 'fuente2';
                margin-bottom: 2%;
                text-align: center;
                color: $color_fondoCards;
            }
    }
    
}

/*media query*/
@media (max-width: 768px) {
    .membresia {
        .membresia__titulo {
            margin-top: 10px;
            margin-bottom: 10px;
            h2 {
                font-size: 20px;
                margin-top: 1%;
                margin-bottom: 1%;
            }   
        }
        .membresia__info {
            width: 100%;
            ul {
                li {
                    font-size: 16px;
                }
            }
        }
        .membresia__info {
            ul {
                width: 80%;
                margin-bottom: 4%;
                li {
                    font-size: 16px;
                }
            }
        }   
        .membresia__disciplina {
            width: 90%;
            margin-bottom: 5%;
            img {
                width: 100%;
            }
            figure {
                figcaption {
                    h3 {
                        font-size: 18px;
                        margin-top: -22px;
                        margin-bottom: 3px;
                    }
                    p {
                        font-size: 12px;
                        margin: 0;
                    }
                    h4 {
                        font-size: 14px;
                        margin-bottom: 2px;
                    }
                    ul {
                        margin: 0;
                        li {
                            font-size: 12px;
                            margin: 0;
                        }
                    } 
                }   
            }
        }
        .membresia__promociones {
            margin-bottom: 1%;
            h2 {
                font-size: 20px;
            }
        }
        .membresia__promociones_info {
            width: 100%;
            margin-bottom: 5%;
            h4 {
                width: 90%;
                font-size: 16px;
                text-align: justify;
            }
        }
    }
}






